<div class="relative">
        <h2 class="text-2xl text-right text-teal-800 font-bold [Helvetica] my-5 py-5 mx-6">
            About
        </h2>
        <p class="text-right text-teal-900 font-bold [Helvetica] mx-6 py-10">
            PotLuck is a food-service app created by four <br>
            junior programmers to add a new take on the online <br>
            food ordering industry. PotLuck is unique in that <br>
            it's users can donate any amount of money to add to <br>
            the PotLuck's pool. Then PotLuck will use that donated <br>
            money to pay for another users meal. The idea came from <br>
            the pay-it-forwards that typically happen when a generous <br>
            individual will pay for the cars order behind them in a <br>
            drive-thru. Join PotLuck today and help the hungry in local <br>
            area today!
        </p>
    </div>