<div class="relative">
        <h2 class="text-2xl text-center text-teal-800 font-bold [Helvetica] my-5 py-5 mx-6">
            About
        </h2>
        <p class="text-center text-teal-900 font-bold [Helvetica] mx-6">
            PotLuck is a food-service app created by four <br>
            junior programmers to add a new take on the online <br>
            food ordering industry. PotLuck is unique in that <br>
            it's users can donate any amount of money to add to <br>
            the PotLuck's pool. Then PotLuck will use that donated <br>
            money to pay for another users meal. The idea came from <br>
            the pay-it-forwards that typically happen when a generous <br>
            individual will pay for the cars order behind them in a <br>
            drive-thru. Join PotLuck today and help the hungry in local <br>
            area today!

            <br><br>
            Use the buttons below or in the navigation bar to donate to a restaurant or order food!
            <br><br>
            <button onclick="window.location.href='/donate';" id="donateBtn" class="button bg-teal-600 py-4 text-center inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase
            rounded shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Donate</button>
            <button onclick="window.location.href='/order';" id="orderBtn" class="button bg-teal-600 py-4 text-center inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase
            rounded shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Order</button>
        </p>
    </div>

    <br><br><br><br><br>

    {{!-- <script src="/js/about.js"></script> --}}
