{{!-- <div class="relative mb-60">
  <h2 class="text-2xl text-center text-teal-800 font-bold [Helvetica] my-5 py-5 mx-6">
      Donate
  </h2>
  <p class="text-center text-teal-900 font-bold [Helvetica] mx-6">
    Please select the restaurant you would like to donate to and then enter the amount of your donation
    <br><br>

    <form class="relative text-center content-center text-teal-900 font-bold [Helvetica] mx-6">
      <label for="restaurant" class="text-center text-teal-900 font-bold [Helvetica]">Choose a restaurant:</label>
        <select name="restaurant" id="restaurant" class="mx-auto content-center text-center text-teal-900 [Helvetica] block appearance-none bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
          {{#each restaurants as |restaurant|}}
          <option value="{{restaurant.id}}" class="text-center text-teal-900 font-bold [Helvetica]">{{restaurant.name}}</option>
          {{/each}}
        </select>
        <br>
      <label for="amount">Amount to donate:</label>
      <input type="text" id="donateInput">
      <br><br>
      <input type="click" value="Donate" id="donateBtn" class="button bg-teal-600 py-4 text-center inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase
    rounded shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
  </p>
</div> --}}

<section class="grid grid-cols-1 lg:grid-cols-8 mb-4">
  <h2 class="col-start-1 text-2xl text-teal-900 font-bold pb-1 lg:col-start-3 lg:col-end-5">Pay It Forward!</h2>
  <p class="col-start-1 lg:col-start-3 lg:col-end-7 text-xl text-teal-900 pb-3">Your donation goes towards a free meal! After you donate to a restaurant, every person who orders food from that restaurant on our website receives up to $20 off their meal until your donation is met.</p>
  <div class="col-start-1 lg:col-start-3 lg:col-end-7 grid place-items-center mt-4 lg:mt-8">
    <div class="bg-white rounded-lg">
      <form id="donateForm" class="py-8 px-16 lg:px-24">
        <fieldset>
          <legend class="text-xl lg:text-lg font-semibold text-teal-800 pb-4 lg:pb-2">Amount</legend>

          <div class="flex items-center mb-4 text-teal-800 ">
            <input type="radio" id="100" name="amount" value="100" data-amount="100" class="w-6 h-6 lg:w-4 lg:h-4 focus:ring-2 focus:ring-teal-300 ">
            <label for="100" class="block ml-2 text-lg lg:text-md font-medium text-teal-900">$100</label>
          </div>

          <div class="flex items-center mb-4 text-teal-800 ">
            <input type="radio" id="50" name="amount" value="50" data-amount="50" class="w-6 h-6 lg:w-4 lg:h-4 focus:ring-2 focus:ring-teal-300 ">
            <label for="50" class="block ml-2 text-lg lg:text-md font-medium text-teal-900">$50</label>
          </div>

          <div class="flex items-center mb-4 text-teal-800 ">
            <input type="radio" id="25" name="amount" value="25" data-amount="25" class="w-6 h-6 lg:w-4 lg:h-4 focus:ring-2 focus:ring-teal-300 ">
            <label for="25" class="block ml-2 text-lg lg:text-md font-medium text-teal-900">$25</label>
          </div>

          <div class="flex items-center mb-4 text-teal-800">
            <input type="radio" id="other" name="amount" value="other" data-amount="custom" class="w-6 h-6 lg:w-4 lg:h-4 focus:ring-2 focus:ring-teal-300 ">
            <label for="other" class="block ml-2 text-lg lg:text-md font-medium text-teal-900">$ <input type="text" id="customAmount" class="border rounded-sm border-teal-900 text-lg lg:text-md"></label>
          </div>
        </fieldset>
        <div class="w-52">
          <select name="restaurant" id="restaurant" class="form-select block w-full px-3 py-1.5 text-base font-normal text-teal-700 bg-white bg-clip-padding border border-solid-gray-600 rounded transition ease-in-out m-0 focus:text-teal-800 focus:text-semibold focus:bg-white focus:border-blue-600 focus:outline-none mt-1">
            <option selected>Restaurant</option>
            {{#each restaurants as |restaurant|}}
            <option value="{{restaurant.id}}" class="text-center text-teal-900 font-bold [Helvetica]">{{restaurant.name}}</option>
            {{/each}}
          </select>
          <button type="submit" id="donateBtn" class="shadow bg-teal-900 hover:bg-teal-700 focus:shadow-outline focus:outline-none text-white font-bold py-3 px-5 lg:py-2 lg:px-4 rounded mt-4">Payment</button>
        </div>
      </form>
    </div>
  </div>
</section>

<script src="/js/donate.js"></script>