<div class="relative">
  <h2 class="text-2xl text-center text-teal-800 font-bold [Helvetica] my-5 py-5 mx-6">
      Donate
  </h2>
  <p class="text-center text-teal-900 font-bold [Helvetica] mx-6">
    Please select the restaurant you would like to donate to and then enter the amount of your donation
    <br><br>

    <form class="relative" class="text-center text-teal-900 font-bold [Helvetica] mx-6">
      <label for="restaurant">Choose a restaurant:</label>
        <select name="restaurant" id="restaurant" class="block appearance-none bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
          {{#each restaurants as |restaurant|}}
          <option id="{{restaurant.id}}">{{restaurant.name}}</option>
          {{/each}}
        </select>
        <br><br>
      <label for="amount">Amount to donate:</label>
      <input type="text" id="donateInput">
      <br><br>
      <input type="click" value="Donate" id="donateBtn" class="button bg-teal-600 py-4 text-center inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase
    rounded shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
  </p>
</div>

<script src="/js/donate.js"></script>