<div class="grid place-items-center">
  <div class="bg-white p-8">
    <h2 class="text-teal-800">A verification code has been sent to your email!</h2>
    <p class="text-teal-800">Please enter the verification code below:</p>
    <input type="text" class="border-2 border-black" id="verificationInput">
    <button class="bg-teal-700 text-white rounded-full px-6 py-4" id="verificationBtn">Verify</button>
  </div>
</div>

<script src="/js/emailValidate.js"