<div>
    <p>Sign Up</p>
    <!--sign up form-->
    <form>
        <!--username input field-->
        <label for="username">Username:</label><br>
        <input type="text" id="signUpUsername" name="username"><br>
        <!--email input field-->
        <label for="user-email">E-mail:</label><br>
        <input type="text" id="signUpEmail" name="user-email"><br>
        <!--passowrd input field-->
        <label for="password">Password:</label><br>
        <input type="text" id="signUpPassword" name="password">
        <input type="click" value="Sign Up" id="signUpBtn">
    </form>
</div>

<!--sign in botton that deploys modal for user input-->
<div>
    <p>Sign In</p>
    <!--sign in form-->
    <form>
        <!--username input field-->
        <label for="email">Email:</label><br>
        <input type="text" id="loginEmail" name="email"><br>
        <!--passowrd input field-->
        <label for="password">Password:</label><br>
        <input type="text" id="loginPassword" name="password">
        <input type="click" value="Sign In" id="loginBtn">
    </form>
</div>

<script src="/js/login.js"></script>