<div>
    <p>Sign Up</p>
    <!--sign up form-->
    <form>
        <!--username input field-->
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <!--email input field-->
        <label for="user-email">E-mail:</label><br>
        <input type="text" id="user-email" name="user-emaill"><br>
        <!--passowrd input field-->
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password">
    </form>
    <button>Sign Up</button>
</div>

<!--sign in botton that deploys modal for user input-->
<div>
    <p>Sign In</p>
    <!--sign in form-->
    <form>
        <!--username input field-->
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <!--passowrd input field-->
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password">
    </form>
    <button>Sign In</button>
</div>