<div>
  <h2>{{restaurantName}} Menu</h2>

  <form>
    {{#each dishes as |dish|}}
    <label>{{dish.name}}: {{dish.price_in_cents}}</label>
    <input type="text" id="{{dish.id}}">
    {{/each}}
  </form>
  
</div>