<!--Each button will be clickable and take the user to the oder screen-->
<button> Chili's</button>
<button>Red Lobster</button>
<button>Chipolte</button>
<button>Olive Garden</button>
<button>Farmside Kitchen</button>
<button>The Goat Durham</button>