<!--Each button will be clickable and take the user to the oder screen-->
        {{!-- <a href="/menu"> --}}
        <button class="button bg-teal-600 py-4 text-center inline-block px-10 mx-6 my-10 py-2.5 text-white font-medium text-xs leading-tight uppercase
        rounded shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" id="1"> Chili's</button>
        {{!-- </a> --}}
        <a href="/menu">
        <button class="button bg-teal-600 py-4 text-center inline-block px-10 mx-6 py-2.5 text-white font-medium text-xs leading-tight uppercase
        rounded shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" id="2">Red Lobster</button>
        </a>
        <a href="/menu">
        <button class="button bg-teal-600 py-4 text-center inline-block px-10 mx-6 py-2.5 text-white font-medium text-xs leading-tight uppercase
        rounded shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" id="3">Chipolte</button>
        </a>
        <a href="/menu">
        <button class="button bg-teal-600 py-4 text-center inline-block px-10 mx-6 py-2.5 text-white font-medium text-xs leading-tight uppercase
        rounded shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" id="4">Olive Garden</button>
        </a>
        <a href="/menu">
        <button class="button bg-teal-600 py-4 text-center inline-block px-10 mx-6 py-2.5 text-white font-medium text-xs leading-tight uppercase
        rounded shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" id="5">Farmside Kitchen</button>
        </a>
        <a href="/menu">
        <button class="button bg-teal-600 py-4 text-center inline-block px-10 mx-6 py-2.5 text-white font-medium text-xs leading-tight uppercase
        rounded shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" id="6">The Goat Durham</button>
      </a>

      <script src="/js/order.js"></script>