<div class="relative">
  <h2 class="text-2xl text-center text-teal-800 font-bold [Helvetica] my-5 py-5 mx-6">
      Thank you for your ${{restaurant.amount}} {{checkout}} to {{restaurant.name}}.

      {{#if discount}}You received a ${{discount}} discount!{{/if}}
  </h2>
</div>
<br><br><br><br>