<div class="grid place-items-center">
  <div class="p-8 bg-white rounded-md border-2 border-teal-400">
    <h2 class="text-teal-800 text-6xl pb-6">Thank you for validating your email!</h2>
    <p class="text-teal-800 text-xl">You may now place orders and make donations!</p>
  </div>
</div>